@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    font-family: 'Outfit';
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

.ntf-info img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    border-radius: 10px;
}

.ntf-info img:hover {
    background-color: red;
    cursor: pointer;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 22px;
}

.ntf-info p{
    font-size: large;
    margin-bottom: 0;
}

.ntf-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ntf-cost img {
    padding-right: 8px;
}

h3 {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

h4 {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

hr {
    color: hsl(215, 32%, 27%);
    width: 300px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.author img {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

.author, p, h4, footer, a:link {
    color: hsl(215, 51%, 70%);
}

.author span {
    color: white;
}

footer {
    margin-top: 40px;
}

footer span {
    margin-left: 5px;
}

/* hover effects */

h1:hover, .author span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.ntf-info img:hover {
    cursor: pointer;
}
