@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}


/***** CARD *****/

/* card container */
.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

/* nft and overlay images container */
.pictures {
    position: relative;
}

/* nft image */
.parent-img {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}

/* overlay container */
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.overlay img {
    opacity: 0;
}

/* nft card name */
h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

/* nft card description */
.nft-info p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 300;
}

/* nft card price and time left container */
.nft-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nft card price */
h3 {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

/* nft card price icon */
  .nft-price img {
    padding-right: 8px;
}

/* prie */
h4 {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

/* line */
hr {
    color: hsl(215, 32%, 27%);
    width: 300px;
}

/* author info container */
.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

/* author's picture */
.author img {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

/* author's name */
.author span {
    color: white;
}

/* set items color */
.author, p, h4, footer, a:link {
    color: hsl(215, 51%, 70%);
}

/* footer */
footer {
    margin-top: 40px;
}

footer span {
    margin-left: 5px;
}


/***** HOVER EFFECTS *****/

/* hover over text */
h1:hover, .author span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
    transition: 0.3s ease-in-out;
}

/* hover over nft card image */
.pictures:hover img{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.overlay:hover {
    cursor: pointer;
    background-color: hsla(178, 100%, 50%, 0.6);
}
